<h2>Events</h2>
<p>The Event Post Type plugin creates a new post type in Wordpress to handle events - posts which have a start and end date - and display them in an order dicatated by these dates. It is essentially a Wordpress Post which has its own taxonomies (categories and tags), and is ordered in a different way.</p>
<p>In addition, the plugin can output calendars and feeds in different formats (RSS, JSON, iCAL), and creates its own permalink structure to enable the display of events using dates in the URL.</p>
<h3>Creating a new event</h3>
<p>This is done in the same way as you would create a new post, with the addition of setting dates for the event and marking it as "sticky":</p>
