<h2>Widgets</h2>
<p>The EventPostType plugin comes with two widgets which you can use in your sidebars - a calendar widget and a text-based widget (to list events). Each widget allows you to set different options.</p>
<h3>Calendar Widget</h3>


<h3>Events Widget</h3>
